body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/pattern.png');
  background-color: #06d6a0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  margin-bottom: 5%;
}
.alert-danger {
  margin: 5% 4%;
}

#explore {
  margin-bottom: 5%;
}

h2, h3, h4, p {
  text-align: center;
}

div.row {
  align-items: stretch;
  row-gap: 75px;
}

div.col {
  display: flex;
  justify-content: center;
}

.card {
box-shadow:
  0.9px 1.3px 2.5px rgba(0, 0, 0, 0.028),
  3.1px 4.5px 8.3px rgba(0, 0, 0, 0.042),
  14px 20px 37px rgba(0, 0, 0, 0.07);
}

#restaurant-container img {
  object-fit: cover;
  height: 100%;
}

.nav-pills {
  margin-top: 5%;
}

.tab-content {
  margin: 5% 0;
}

h2 {
  text-align: center;
}

footer {
  text-align: center;
  width: 100%;
  height: 100px;
  background-color: white;
  margin-top: 10%;
  flex-shrink: 0;
}

footer p {
  padding-top: 40px;
}

.carousel {
  flex-grow: 1;
}

#body-container {
  padding: 0;
}

.pointer {
  cursor: pointer;
}

.timestamp {
  text-align: center;
}

img#yelp {
  height: 1.5rem; 
}
